.aboutUs{
    @apply
    xl:mt-[25rem]
    mt-[10rem]
   grid
   grid-cols-1
   lg:grid-cols-2
   gap-12
}

.aboutUs__leftSide h2{
    @apply
  text-white
  text-[2.4rem]
  xl:text-[4.8rem]
  max-w-[40rem]
  font-bold
  xl:leading-[6rem]
  leading-[3rem]
}

.aboutUs__leftSide p{
    @apply
    text-white
    text-[1.6rem]
    xl:max-w-[60rem]
    leading-[3rem]
    mt-[3rem]
}

.aboutUs__rightSide{
    
}