.fanFact{
    @apply
    my-20
    lg:my-40
    xl:mt-28
    grid
    lg:grid-cols-4
    grid-cols-1
    gap-y-24
    justify-between
    items-center
    text-center
    text-white
    w-full
}

.fanFact h2{
    @apply
    text-[4.8rem]
    leading-[5.8rem]
    font-bold
}

.fanFact p{
    @apply
    text-[2rem]

}