.ourservices{
    @apply
    mt-[12rem]
    mb-[12rem]
    container
    flex
    flex-col
    justify-center
    items-center
    
}

.ourservices__topbar{
    @apply
    mb-[4rem]
    flex
    justify-between
    items-center
    container
    px-2
    sm:px-20
    md:px-[11rem]
    xl:px-32
    w-full
    lg:max-w-[125rem]
}

.ourservices__underbar{ 
    @apply
    flex
    md:flex-wrap
    justify-start
    md:justify-center
    gap-12
    flex-nowrap
    overflow-hidden
    w-full
    pb-28
    

}

.ourservices__underbar_card{
    @apply
    bg-second
    px-[3.5rem]
    py-[8.3rem]
    flex
    flex-col
    justify-between
    items-start
    max-w-[55rem]
    gap-y-12
    min-w-[33rem]
    transition-all
    duration-300
    relative
}


.ourservices__topbar h2{
    @apply
    font-bold
    text-[2.4rem]
    lg:text-[4.8rem]
    leading-[2.8rem]
    lg:leading-[5.8rem]
    text-white
}

.ourservices__underbar_card img{

}

.ourservices__underbar_card h4{
    @apply
    font-semibold
    text-[2rem]
    lg:text-[3rem]
    leading-[2.4rem]
    lg:leading-[3.6rem]
    text-white
}

.ourservices__underbar_card p{
    @apply
    text-[1.6rem]
    leading-[3rem]
    text-white
}

.ourservices__underbar_card button{
    @apply
    mt-0
    h-[5.2rem]
    w-[16rem]
    text-[1.6rem]
    font-semibold

}

@media screen and (min-width: 1200px) {
  
#rightSide{
    transform: translateY(5rem)!important;
}
    
}